


//--- Elements ---//

.header-title-block-1 {
	width: max-content;
	*:first-child {
		text-align: center;
		margin-bottom: 20px;
	}
}
.title-type-1 {
	color: #3d4f9f;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Quicksand', sans-serif;
}
.sub-title-type-1 {
	color: #3d4f9f;
	font-size: 10px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.title-type-2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	strong {
		font-weight: 500;
	}
}
.title-type-3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	strong {
		font-weight: 500;
	}
}

.mini-title {
	color: #4074f8;
	font-weight: 700;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.plain-text-1 {
	color: #8d96bd;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
}
.plain-text-2 {
	color: #adb3cb;
	font-weight: 600;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	line-height: 19px;
}

.btn-1 {
	display: block;
	width: max-content;
	padding: 13px 20px;
	border-radius: 2px;
	font-size: 13px;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
	&._red {
		background-color: #ffd7d7;
		color: #d43f3f;
		transition: background-color .2s;
		&:hover {
			background-color: #fcb7b7;
		}
	}
	&._blue {
		background-color: #d2e1ff;
		color: #3a79ff;
		transition: background-color .2s;
		&:hover {
			background-color: rgb(175, 202, 255);
		}
	}
	&._gray {
		padding: 13px 30px;
		background-color: #e8ecf4;
		color: #7382a3;
		font-weight: 500;
		transition: background-color .2s;
		&:hover {
			background-color: #cdd3df;
		}
	}
}

.btn-2 {
	display: flex;
	width: max-content;
	cursor: pointer;
	& > *:hover {
		text-decoration: underline;
	}
	.btn-left {
		display: flex;
		align-items: center;
		padding: 13px 25px;
		border-radius: 2px 0 0 2px;
		background-color: #4c85ff;
		color: #fff;
		box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);

		font-size: 13px;
		font-weight: 700;
		font-family: 'Quicksand', sans-serif;
	}
	.btn-right {
		display: block;
		padding: 13px 25px;
		border: 1px solid #d1d1e4;
		border-radius: 0 2px 2px 0;
		color: #adb4d2;

		font-family: 'Quicksand', sans-serif;
		font-weight: 500;
		font-size: 13px;
	}
	&._white {
		.btn-left {
			background-color: #ffffff;
			color: #565f82;
		}
		.btn-right {
			padding: 13px 10px;
			border: 1px solid #a0b4ff;
			color: #c7d3ff;
		}
	}
}

@media (max-width: 400px) {
	.btn-2 {
		flex-direction: column;

		.btn-left {
			justify-content: center;
			border-radius: 2px 2px 0 0;
		}
		.btn-right {
			border-radius: 0 0 2px 2px;
		}
	}
}



//--- CONTENT ---//

.content {
	flex: 1 1 100%;
}

.full-screen {
	display: flex;
	flex-direction: column;
	padding-top: 80px;
	min-height: calc(100vh - 3px);
}

// intro

.intro {
	overflow: hidden;
	position: relative;
	flex: 1 1 100%;
	padding: 90px 0;
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
	text-align: center;
	background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}
.intro-bg-cloud {
	pointer-events: none;
	position: absolute;
	left: -80px;
	top: 0;
	width: calc(100% + 160px);
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.intro-header {
	margin-bottom: 25px;
}
.intro__sub-title {
	margin-bottom: 15px;
	letter-spacing: 0.1em;
}
.intro__title {
	color: #3d4f9f;
	font-size: 48px;
}
.intro__text {
	max-width: 500px;
	margin: 0 auto 20px;
}
.intro__play-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
	cursor: pointer;
	&:hover svg {
		width: 17px;
		height: 17px;
	}
	svg {
		fill: #5e81ff;
		width: 11px;
		height: 11px;
		object-fit: contain;
		transition: width .2s, height .2s;
	}
}

// logos

.logos {
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
}
.logos-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	position: relative;
	width: 15%;
	margin: 50px 0;
	margin-right: 40px;
	&:last-child {
		margin-right: 0;
	}
}

.logo-body {
	padding-top: 30%;
	width: 100%;
	fill: #d6dae5;
	svg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	transition: fill .3s;
	&:hover {
		fill: #5982e7;
	}

}
.logos-body {
	scrollbar-width: thin;
	scrollbar-color: #5982e7 #d6dae5;
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-track {
		background: #d6dae5;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #5982e7;
		border-radius: 6px;
		border: 4px solid #d6dae5;
		&:hover {
			background-color: #2957cc;
		}
	}
}
@media (max-width: 800px) {
	.logos-body {
		overflow: auto;
		width: 100%;
		justify-content: start;
	}
	.logo {
		min-width: 117px;
	}
}

// pam

.pam {
	padding: 170px 0;
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
}

.pam-body {
	display: flex;
	align-items: center;
}

.pam-left {
	width: 50%;
	padding-right: 35px;
}
.pam-right {
	position: relative;
	width: 50%;
	img {
		position: relative;
		top: 0;
		left: -15%;
		margin-top: -15%;
		margin-bottom: -50%;
		max-width: 1000px;
		width: 55vw;
		object-fit: contain;
	}
}

.pam-header {
	margin-bottom: 25px;
}
.pam__sub-title {
	margin-bottom: 25px;
	letter-spacing: 0.1em;
}
.pam__title {
	color: #3d4f9f;
	font-size: 38px;
}
.pam__text {
	margin-bottom: 50px;
	font-size: 15px;
	line-height: 29px;
}
.btn-left {
	svg {
		margin-left: 7px;
		fill: #fff;
		width: 7px;
		height: 7px;
	}
}

@media (max-width: 830px) {
	.pam {
		padding: 80px 0;
	}
	.pam-body {
		flex-direction: column;
	}
	.pam-left {
		text-align: center;
		width: 100%;
		padding: 0 40px;
	}
	.pam-right {
		display: none;
	}
	.pam__btns {
		margin: 0 auto;
	}

	.pam-header {
		margin-bottom: 20px;
	}
	.pam__sub-title {
		margin-bottom: 20px;
	}
	.pam__text {
		margin-bottom: 30px;
	}
}
@media (max-width: 500px) {
	.pam {
		padding: 40px 0;
	}
	.pam-left {
		padding: 0;
	}

	.pam__sub-title {
		margin-bottom: 10px;
	}
	.pam__title {
		font-size: 28px;
	}
	.pam__text {
		margin-bottom: 15px;
	}
}

// read-app

.read-app {
	position: relative;
	padding: 170px 0;
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
}
.read-app-body {
	overflow: hidden;
}

.read-app-bg {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: calc(100% - 280px);
	img {
		position: relative;
		top: -30px;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.read-app-header {
	text-align: center;
}
.read-app__sub-title {
	display: block;
	margin-bottom: 20px;
}

.read-app-items {
	display: flex;
	justify-content: space-between;
	align-items:stretch;
	margin: 90px -33px;
}
.list-app__item {
	position: relative;
	width: 25%;
	padding: 0 33px;
	text-align: center;
	&::after {
		content: '';
		position: absolute;
		right: -14px;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 28px;
		height: 2px;
		background-color: #dae4fe;
	}
	&:last-child::after {
		display: none;
	}
}

.app-item__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 33px;
	svg {
		width: 69px;
		height: 69px;
	}
}
.app-item__title {
	margin-bottom: 25px;
}
.app-item__text {
	max-width: 140px;
	margin: 0 auto 25px;
}

.read-app-btns {
	display: flex;
	justify-content: center;
	align-items: center;
}
.read-app-btns__or {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #adb3cb;
	font-size: 11px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	&::before, &::after {
		content: '';
		display: block;
		height: 2px;
		width: 15px;
		margin: 16px;
		background-color: #dae4fe;
	}
}

@media (max-width: 830px) {
	.read-app-bg {
		display: none;
	}
	.read-app-items {
		flex-wrap: wrap;
		padding: 0 70px;
	}
	.list-app__item {
		width: 50%;
		margin-bottom: 40px;
		&:nth-child(2n)::after {
			display: none;
		}
	}

	.read-app {
		padding: 80px 0;
	}
	.read-app-items {
		margin: 50px 0 10px;
	}
	.app-item__icon {
		margin-bottom: 25px;
	}
	.app-item__title {
		margin-bottom: 20px;
	}
	.app-item__text {
		margin-bottom: 20px;
	}
}
@media (max-width: 500px) {
	.read-app-items {
		flex-wrap: wrap;
		padding: 0;
	}
	.list-app__item {
		width: 100%;
		margin-bottom: 30px;
		&::after {
			display: none;
		}
	}

	.read-app {
		padding: 60px 0;
	}
	.read-app__sub-title {
		margin-bottom: 10px;
	}
	.read-app-items {
		margin: 40px 0 0;
	}
	.app-item__icon {
		margin-bottom: 20px;
	}
	.app-item__title {
		margin-bottom: 15px;
	}
	.app-item__text {
		margin-bottom: 15px;
	}
	.read-app-btns__or {
		&::before, &::after {
			width: 13px;
			margin: 10px;
		}
	}
}
@media (max-width: 400px) {
	.read-app-btns {
		flex-direction: column;
		& > * {
			margin-bottom: 10px;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
}


// stats

.stats {
	display: flex;
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
}

.stats-container {
	width: 350px;
	padding: 70px 0 60px;
}
.stats-left {
	width: 50%;
	color: #ffffff;
	background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
	.stats-container {
		padding-right: 90px;
		margin-left: auto;
		& > * {
			margin-left: auto;
			text-align: right;
		}
	}
}
.stats-right {
	width: 50%;
	color: #5e80ff;
	background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
	.stats-container {
		padding-left: 90px;
		margin-right: auto;
	}
}

.stats__icon {
	width: 72px;
	height: 72px;
	margin-bottom: 25px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.stats__data {
	margin-bottom: 15px;
	font-size: 48px;
	letter-spacing: 0.03em;
}
.stats__text {
	font-size: 18px;
	font-weight: 500;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.03em;
}

@media (max-width: 830px) {
	.stats-container {
		width: 230px;
		padding: 35px 0 30px;
		.stats-left & {
			padding-right: 30px;
		}
		.stats-right & {
			padding-left: 30px;
		}
	}
}
@media (max-width: 500px) {
	.stats {
		flex-direction: column;
	}
	.stats-left, .stats-right {
		width: 100%;
		& .stats-container > * {
			margin: 0 auto;
			text-align: center;
		}
	}
	.stats-container {
		max-width: 350px;
		width: 100%;
		padding: 35px 20px 30px !important;
		margin: 0 auto;
	}
}

// blog

.blog {
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
}

// quotes

.quotes {
	overflow: hidden;
	padding: 110px 0;
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
	background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}
.quotes-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quotes-left {
	flex: 1 1 333px;
	margin-right: 100px;
}
.quotes__sub-title {
	margin-bottom: 30px;
	letter-spacing: 0.1em;
}
.quotes__title {
	margin-bottom: 20px;
	font-size: 36px;
}
.quotes__text {
	color: #a4abc8;
	font-size: 12px;
	letter-spacing: 0.03em;
}

.quotes-right {
	flex: 0 0 max-content;
}

.quotes-slider {
	margin-bottom: 75px;
}
.slider {
	display: flex;
	width: 425px;
}
.slide {
	position: relative;
	min-width: 100%;
	padding: 40px 70px 50px;
	margin-right: 65px;
	border: 1px solid #d8e3fe;
	background-color: #fff;
	box-shadow: 0px 5px 50px #f3f5fa;
	opacity: .45;
	cursor: pointer;
	transition: opacity .3s;
	&._active {
		opacity: 1;
		cursor: auto;
	}
	&:hover:not(._active) {
		opacity: .8;
	}
}
.slide__photo {
	position: absolute;
	left: 50%;
	top: 100%;
	width: 62px;
	height: 62px;
	transform: translate(-50%, -50%);
	box-shadow: 0px 5px 50px #f3f5fa;
}

.quotes-btns {
	display: flex;
	width: max-content;
	margin: 0 auto;
}
.quotes__btn {
	width: 20px;
	height: 20px;
	padding: 6px;
	cursor: pointer;

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #d1d6e3;
		transition: background-color .3s;
	}
	&:last-child {
		margin-right: 0;
	}
	&:hover::before {
		background-color: #6d96ff;
	}
	&._active::before {
		background-color: #5283ff;
	}
}

@media (max-width: 1300px) {
	.slider {
		width: 350px;
	}
}
@media (max-width: 830px) {
	.quotes {
		padding: 55px 0;
	}
	.quotes-body {
		flex-direction: column;
		justify-content: flex-start;
	}
	.quotes__sub-title {
		margin-bottom: 20px;
	}
	.quotes-left {
		flex: none;
		margin: 0 0 30px;
		text-align: center;
	}
	.quotes-slider {
		margin-bottom: 50px;
	}
	.quotes-right {
		width: 100%;
	}
	.slider {
		max-width: 420px;
		width: calc(100% - 20px);
		margin: 0 auto;
	}
}
@media (max-width: 500px) {
	.quotes {
		padding: 40px 0;
	}
	.quotes__sub-title {
		margin-bottom: 10px;
	}
	.quotes-slider {
		margin-bottom: 40px;
	}
	.slide {
		padding: 15px 35px 35px;
	}
}

// faq

.faq {
	padding: 175px 0;
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
}

.faq-header {
	text-align: center;
	margin-bottom: 70px;
}
.faq__sub-title {
	display: block;
	margin-bottom: 20px;
}

.questions__question {
	padding: 15px 0;
	border-bottom: 1px solid #d8e3fe;
}
.question._active {
	svg {
		transform: rotate(0deg);
		opacity: 1;
	}
	.question__title {
		color: #495274;
		font-weight: 700;
	}
	.question-content {
		height: auto;
	}
}

.question-header {
	display: flex;
	min-height: 45px;
	align-items: center;
	padding-left: 20px;
	cursor: pointer;
	&:hover {
		svg {
			opacity: 1;
		}
		.question__title {
			color: #495274;
		}
	}
	svg {
		width: 16px;
		height: 8px;
		margin-right: 20px;
		transform: rotate(180deg);
		opacity: .6;
		transition: opacity .3s, transform .3s;
	}
}
.question__title {
	color: #8e96b7;
	font-size: 15px;
	letter-spacing: 0.03em;
	transition: color .3s,;
}
.question-content {
	height: 0px;
	overflow: hidden;
	transition: height .3s;
}
.question-content-body {
	display: flex;
	align-items: center;
	padding: 15px 15px 15px 80px;
}
.question__btn {
	flex: 1 0 max-content;
	margin-left: 60px;
}


@media (max-width: 830px) {
	.faq {
		padding: 100px 0;
	}
	.faq-header {
		margin-bottom: 50px;
	}
	.question-content-body {
		flex-direction: column;
		align-items: stretch;
		padding: 10px 10px 10px 30px;
	}
	.question__btn {
		margin-top: 20px;
		margin-left: 0;
	}
}
@media (max-width: 500px) {
	.faq {
		padding: 70px 0;
	}
	.faq-header {
		margin-bottom: 40px;
	}
	.faq__sub-title {
		margin-bottom: 10px;
	}
}

// get-started

.get-started {
	position: relative;
	padding: 90px 0;
	border-top: 1px solid #d8e3fe;
	border-bottom: 1px solid #d8e3fe;
	background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
	color: #ffffff;
	text-align: center;
}

.get-started-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}
.get-started-body {
	position: relative;
}

.get-started__sub-title {
	display: block;
	margin-bottom: 20px;
	color: #ffffff;
}
.get-started__title {
	display: block;
	margin-bottom: 30px;
	color: #ffffff;
	font-size: 48px;
}

.get-started__text {
	max-width: 660px;
	margin: 0 auto 50px;
	color: #ffffff;
	font-size: 15px;
	line-height: 29px
}

.get-started__btns {
	margin: 0 auto;
}

@media (max-width: 830px) {
	.get-started-bg {
		display: none;
	}
	.get-started__text {
		max-width: 500px;
		margin-bottom: 30px;
	}
}
@media (max-width: 500px) {
	.get-started {
		padding: 50px 0;
	}
	.get-started__sub-title {
		margin-bottom: 10px;
	}
	.get-started__title {
		margin-bottom: 20px;
		font-size: 35px;
	}
	.get-started__text {
		margin-bottom: 15px;
	}
}
@media (max-width: 400px) {
	.get-started {
		padding: 50px 0;
	}
	.get-started__title {
		margin-bottom: 20px;
		font-size: 24px;
	}
	.get-started__text {
		margin-bottom: 15px;
	}
}

// newsletter

.newsletter {
	padding: 120px 0;
}

.newsletter-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newsletter-content {
	flex: 1 0 330px;
	margin-right: 80px;
}

.newsletter__title {
	margin-bottom: 15px;

	color: #3d4f9f;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
}
.newsletter__text {
	line-height: 27px;
}


.form {
	flex: 1 1 100%;
	form {
		position: relative;
		display: flex;
		.form__email, &::before {
			color: #7a85ad;
			font-family: 'Quicksand', sans-serif;
			font-size: 13px;
			font-weight: 700;
		}
		&::before {
			pointer-events: none;
			content: 'Email address';
			position: absolute;
			top: 28px;
			left: 23px;
			display: block;
			width: max-content;
			transform: translateY(-50%);
			transition: top .3s, left .3s, transform .3s;
		}
		&._active {
			&::before {
				top: 3px;
				left: 5px;
				transform: translateY(0%);
			}
		}
	}
	input {
		display: block;
	}

}
.form__email {
	flex: 1 1 100%;
	display: block;
	padding: 20px 23px;
	margin-right: 15px;
	border: none;
	border-radius: 5px;
	background-color: #efeff7;
}
.form__btn {
	padding: 20px 62px;
	border: none;
	border-radius: 5px;
	background-color: #4d6ce1;
	cursor: pointer;

	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 13px;

	transition: background-color .3s;
	&:hover {
		background-color: #3052ce;
	}
}
@media (max-width: 1300px) {
	.form__btn {
		padding: 20px 30px;
	}
}
@media (max-width: 830px) {
	.newsletter {
		padding: 60px 0;
	}
	.newsletter-body {
		flex-direction: column;
		align-items: stretch;
	}
	.newsletter-content {
		flex: none;
		max-width: 330px;
		margin: 0 auto 20px;
		text-align: center;
	}
	.form {
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
}
@media (max-width: 400px) {
	.newsletter {
		padding: 45px 0;
	}
	.form form {
		display: block;
	}
	.form__email {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.form__btn {
		margin: 0 auto;
	}
}